{{#if hero.length}}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Comment</th>
      <th scope="col">Button name</th>
      <th scope="col">Button address</th>      
      <th scope="col">Button name2</th>
      <th scope="col">Button address2</th>
      <th scope="col">Image</th>
      <th scope="col">Edit</th>

    </tr>
  </thead>
  <tbody>
    {{#each hero}}
    <tr>
      <th scope="row">1</th>
      <td>{{{comment}}}</td>
      <td>{{{buttonname}}}</td>
      <td>{{buttonaddress}}</td>      
      <td>{{{buttonname2}}}</td>
      <td>{{buttonaddress2}}</td>
      <td><img style="width: 100px; height: 100px;" src="../../../images/hero/{{image}}" alt=""></td>
      <td><a href="/admin/hero/{{id}}" class="btn btn-success">Edit</a></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<form action="/admin/hero/add" method="post" enctype="multipart/form-data">
  {{!-- izoh --}}
  <div class="mb-3">
    <label for="summernote" class="form-label">Comment</label>
    <textarea name="comment" type="text" class="form-control" id="summernote" aria-describedby="emailHelp"
      required></textarea>
  </div>
  {{!-- tugma nomi --}}
  <div class="mb-3">
    <label for="exampleInputEmail3" class="form-label">Button name</label>
    <input name="buttonname" type="text" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp"
      required>
  </div>
  {{!-- tugma manzili --}}
  <div class="mb-3">
    <label for="exampleInputEmail4" class="form-label">Button address</label>
    <input name="buttonaddress" type="text" class="form-control" id="exampleInputEmail4" aria-describedby="emailHelp"
      required>
  </div>

    {{!-- tugma nomi --}}
  <div class="mb-3">
    <label for="exampleInputEmail5" class="form-label">Button name2</label>
    <input name="buttonname2" type="text" class="form-control" id="exampleInputEmail5" aria-describedby="emailHelp"
      required>
  </div>
  {{!-- tugma manzili --}}
  <div class="mb-3">
    <label for="exampleInputEmail6" class="form-label">Button address2</label>
    <input name="buttonaddress2" type="text" class="form-control" id="exampleInputEmail6" aria-describedby="emailHelp"
      required>
  </div>
  {{!-- Image --}}
  <div class="mb-3">
    <label for="fileInput" class="form-label">Image</label>
    <input type="file" id="fileInput" name="image" accept="image/*" onchange="validateImageFile(this)" required>
  </div>
  <button type="submit" class="btn btn-primary">save</button>
</form>
{{/if}}
<script>
  function validateImageFile(input) {
    const file = input.files[0];
    console.log(file)
    const allowedTypes = /(\.|\/)(gif|jpe?g|png)$/i;

    if (!allowedTypes.test(file.type)) {
      alert("Bu fayl rasm emas (gif, jpg, jpeg, png) shu formatda bo'lsin .");
      input.value - '';
    }
  }
</script>