
{{#if why.length}}

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Image</th>
            <th scope="col">title</th>
            <th scope="col">comment</th>
            <th scope="col">Edit</th>

        </tr>
    </thead>
    <tbody>
        {{#each why}}
        <tr>
            <th scope="row">{{incr @index}}</th>
            <td><img style="width: 100px; height: 100px;" src="../../../images/why/{{image}}" alt=""></td>
            <td>{{{title}}}</td>
            <td>{{{comment}}}</td>
            <td><a href="/admin/why/{{id}}" class="btn btn-success">Edit</a></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<form action="/admin/why/add" method="post" enctype="multipart/form-data">
    <div class="mb-3">
        <label for="fileInput" class="form-label">Image</label>
        <input type="file" id="fileInput" name="image" accept="image/*" onchange="validateImageFile(this)" required>
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail3" class="form-label">title</label>
        <input name="title" type="text" class="form-control" id="exampleInputEmail3" aria-describedby="emailHelp"
            required>
    </div>
  <div class="mb-3">
    <label for="summernote" class="form-label">Comment</label>
    <textarea name="comment" type="text" class="form-control" id="summernote" aria-describedby="emailHelp"
      required></textarea>
  </div>
    <button type="submit" class="btn btn-primary">save</button>
</form>
{{/if}}
<script>
    function validateImageFile(input) {
        const file = input.files[0];
        console.log(file)
        const allowedTypes = /(\.|\/)(gif|jpe?g|png)$/i;

        if (!allowedTypes.test(file.type)) {
            alert("Bu fayl rasm emas (gif, jpg, jpeg, png) shu formatda bo'lsin .");
            input.value - '';
        }
    }
</script>