    <form action="/admin/bigblog/edit" method="post" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="exampleInputEmail3" class="form-label">blogname</label>
        <input value="{{bigblog.blogname}}" name="blogname" type="text" class="form-control" id="exampleInputEmail3"
            aria-describedby="emailHelp" required>
    </div>
    
    {{!-- izoh --}}
    <div class="mb-3">
        <label for="summernote" class="form-label">name</label>
        <textarea name="name" type="text" class="form-control" id="summernote" aria-describedby="emailHelp"
            required>{{bigblog.name}}</textarea>
    </div>

    <div class="mb-3">
        <label for="exampleInputImage" class="form-label">Image</label>
        <input type="hidden" value="{{bigblog.image}}" name="eskirasm">
        <input value="{{bigblog.image}}" name="image" type="file" class="form-control" id="exampleInputImage"
            aria-describedby="emailHelp">
    </div>
    <input name="id" type="hidden" value="{{bigblog._id}}">
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
<form action="/admin/bigblog/delete" method="post">
    <input name="id" type="hidden" value="{{bigblog._id}}">
    <td><button class="btn btn-danger my-4">Delete</button></td>
</form>