    <form action="/admin/help/edit" method="post" enctype="multipart/form-data">
        <div class="mb-3">
        <label for="exampleInputEmail3" class="form-label">title</label>
        <input value="{{help.title}}" name="title" type="text" class="form-control" id="exampleInputEmail3"
            aria-describedby="emailHelp" required>
    </div>
    
    {{!-- izoh --}}
    <div class="mb-3">
        <label for="summernote" class="form-label">Comment</label>
        <textarea name="comment" type="text" class="form-control" id="summernote" aria-describedby="emailHelp"
            required>{{help.comment}}</textarea>
    </div>
    
    <div class="mb-3">
        <label for="exampleInputEmail3" class="form-label">Button name</label>
        <input value="{{help.buttonname}}" name="buttonname" type="text" class="form-control" id="exampleInputEmail3"
            aria-describedby="emailHelp" required>
    </div>

    <div class="mb-3">
        <label for="exampleInputEmail4" class="form-label">Button address</label>
        <input value="{{help.buttonaddress}}" name="buttonaddress" type="text" class="form-control" id="exampleInputEmail4"
            aria-describedby="emailHelp" required>
    </div>

    <div class="mb-3">
        <label for="exampleInputImage" class="form-label">Image</label>
        <input type="hidden" value="{{help.image}}" name="eskirasm">
        <input value="{{help.image}}" name="image" type="file" class="form-control" id="exampleInputImage"
            aria-describedby="emailHelp">
    </div>
    <input name="id" type="hidden" value="{{help._id}}">
    <button type="submit" class="btn btn-primary">Edit</button>
</form>
<form action="/admin/help/delete" method="post">
    <input name="id" type="hidden" value="{{help._id}}">
    <td><button class="btn btn-danger my-4">Delete</button></td>
</form>